* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0f0f0f;
}

ul {
    list-style-position: inside;
 }

 i {
    transition-property: color;
    transition-duration: 0.2s;
 }

 a {
    text-decoration: none;
    color: #0f0f0f;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    border-radius: 5px;
    padding: 2px;
 }

a:visited {
    color: #0f0f0f;
}

a:hover {
    color: #edede9;
    background-color:#0f0f0f;
}

h2 {
    margin-bottom: 5px;
}

img {
    transition-property: src;
    transition-duration: 0.5s;
}

.recuadro {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #d6ccc2;
    background-color: #e3d5ca;
}

.fixed-container {
    width: 300px;
}

.flex-container {
    display: flex;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content:space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-md {
    gap: 20px;

}

.bold-text {
    font-weight: bold;
}

.padding-sm {
    padding: 5px;
}

.padding-md {
    padding: 15px;
}

.img-example {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #d6ccc2;
}

.button-arrow {
    background-color: #f5ebe0;
    border-radius: 5px;
    border: 2px solid #d6ccc2;
    padding: 2px;
    margin: 2px;
}

.button-arrow:hover {
    box-shadow: 2px 0  #edede9, -2px 0  #edede9, 0 2px #edede9, 0 -2px #edede9;;
}

.button-arrow:active {
    background-color: #d6ccc2;
}

#navbar {
    background-color: #e3d5ca;
}

#app-container {
    width: 80%;
    margin: 0 auto;
    background-color: #f5ebe0;
    min-height: 100vh;
    height: 100%;
}

#img-perfil {
    border-radius: 50%;
    border: 2px solid #d6ccc2;   
}

#datos-personales p {
    font-weight: 300;
    font-style: italic;
}
